[Desktop Entry]
Comment=Digital circuit simulator
Comment[pl]=Symulator układów cyfrowych
Exec=klogic
Icon=klogic
Name=KLogic
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
# vi: encoding=utf-8
