[Desktop Entry]
Comment=Digital circuit simulator
Exec=klogic
Icon=klogic
Name=KLogic
Path=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Encoding=UTF-8
# vi: encoding=utf-8
